.rowOfKeyboard {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    width: 1280px;
    /* /* display: flex;
    justify-content: space-around;
    align-items: center; */
    gap: 10px; 
    margin: 0 0 10px;
} 
.rowOfKeyboard[data-row-number = '1'] {
    grid-template-columns: repeat(15, 1fr);
} 
.rowOfKeyboard[data-row-number = '2'] {
    grid-template-columns: repeat(13, 1fr);
} 
.rowOfKeyboard[data-row-number = '4'] {
    grid-template-columns: repeat(9, 1fr);
} 

.key__block {
    /* width: 100px;
    height: 100px; */
    text-align: center;
    transition: all 0.3s;
    display: inline-block;
    background-color: gray;
    font-size: 36px;
    padding: 5px 0px 5px;
}

.key__block:hover {
    background-color: brown;
}

.key__small {
    /* width: 100px;
    height: 50px; */
    text-align: center;
    transition: all 0.3s;
}

.key__shift {
    /* width: 100px;
    height: 50px; */
    text-align: center;
    transition: all 0.3s;
}

.hidden {
    display: none;
}

.colored {
    background-color: brown;
}

.key__block[data-key-to-compare = Backspace] {
    width: 200px;
}

.key__block[data-key-to-compare = CapsLock] {
    width: 150px;
}
.key__block[data-key-to-compare = ShiftLeft] {
    width: 150px;
}
.key__block[data-key-to-compare = ControlLeft], .key__block[data-key-to-compare = ControlRight]{
    width: 100px;
}
.key__block[data-key-to-compare = Space] {
    width: 550px;
}

.areaForText {
    height: 100px;
    width: 1000px;
}